---
import MainLayout from "../lib/layouts/main-layout.astro";
import MasonaryGrid from "@/components/MasonaryGrid.astro";
---

<MainLayout>
  <MasonaryGrid />

  <section class="pager-section">
    <div class="container">
      <div class="pager-info">
        <ul class="breadcrumb" style="background: transparent;">
          <li><a href="#" title="">Home</a></li>
          <li><span>About Us</span></li>
        </ul><!--breadcrumb end-->
        <h2>About Us</h2>
        <span>Our history</span>
      </div>
      <div class="pger-imgs">
        <div class="abt-imgz">
          <img src="https://placehold.co/490x613" alt="" />
          <img src="https://placehold.co/480x598" alt="" class="sncd-img" />
          <div class="abt-txt">
            <h4>Watch a video about how we work and try for our customers</h4>
            <span>Play video</span>
            <a
              href="https://www.youtube.com/watch?v=pNxqh-JCMpw"
              title=""
              class="play-btn html5lightbox"><i class="fa fa-play"></i></a
            >
          </div>
        </div>
      </div><!--pger-imgs end-->
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="block2">
    <div class="container">
      <div class="our-history">
        <h3 class="sub-title">About Us</h3>
        <p>
          From childhood curiosity to global expertise, my journey in interior
          design has been a lifelong pursuit of crafting meaningful spaces that
          tell stories and elevate everyday life.
        </p>
      </div><!--our-history end-->
    </div>
  </section>

  <div class="block2">
    <div class="container">
      <div class="arch-section">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="sub-title m-0">
              Architects <br />with different approach
            </h3>
          </div>
          <div class="col-lg-8">
            <div class="our-awards-sec">
              <div class="row" style="justify-content: center;">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="award-col">
                    <h2 class="count">10</h2>
                    <h3 style="text-align: center; padding: 0 !important;">
                      Awards gained
                    </h3>
                  </div><!--award-col end-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="award-col">
                    <h2 class="count">315</h2>
                    <h3 style="text-align: center; padding: 0 !important;">
                      Happy customers
                    </h3>
                  </div><!--award-col end-->
                </div>
              </div>
            </div><!--our-awards-sec end-->
          </div>
        </div>
      </div><!--arch-section end-->
    </div>
  </div>

  <section class="consultation-sec pt-5">
    <div class="container">
      <div class="consultation-section">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="consult-text">
              <h3 class="sub-title" style="padding-right: 0;">
                Get a free consultation. Just leave a request below
              </h3>
              <form class="subsc-form" style="display: flex; gap:0;">
                <input
                  type="text"
                  name="name"
                  placeholder="Your phone number"
                />
                <button type="submit" class="lnk-default" style="margin: 0;">
                  Сallback <i class="la la-arrow-right"></i>
                  <span></span>
                </button>
              </form>
            </div>
            <!--consult-text end-->
          </div>
          <div class="col-lg-5">
            <div class="consult-img wow slideInUp" data-wow-duration="1000ms">
              <img src="https://placehold.co/484x646" alt="" />
            </div>
            <!--consult-img end-->
          </div>
        </div>
      </div>
      <!--consultation-section end-->
    </div>
  </section>
</MainLayout>
