---
import MainLayout from "../lib/layouts/main-layout.astro";
---

<MainLayout>



  <body>
      <!-- cursor -->
      <div class="mry-magic-cursor">
        <div class="mry-ball">
          <div class="mry-loader">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="40px"
              height="40px"
              viewBox="0 0 50 50"
              style="enable-background: new 0 0 50 50"
              xml:space="preserve"
            >
              <path
                d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"
              >
                <animateTransform
                  attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 25 25"
                  to="360 25 25"
                  dur="0.6s"
                  repeatCount="indefinite"></animateTransform>
              </path>
            </svg>
          </div>
        </div>
      </div>
      <!-- cursor end -->

      <!-- top panel -->
      
      <!-- top panel end -->

      
      

          <div class="mry-banner mry-p-140-0">
            <div class="container">
              <div class="mry-main-title mry-title-center">
                <div class="mry-subtitle mry-mb-20 mry-fo">Contact</div>
                <h1 class="mry-mb-20 mry-fo">
                  Do you have any questions?<br /><span class="mry-border-text"
                    >Write us a message.</span
                  ><span class="mry-animation-el"></span>
                </h1>
                <div class="mry-text mry-fo">
                  Lorem ipsum dolor sit amet, consectetur.<br />Adipisicing elit
                  suscipit, at.
                </div>
                <div class="mry-scroll-hint-frame">
                  <a
                    class="mry-scroll-hint mry-smooth-scroll mry-magnetic-link mry-fo"
                    href="#mry-anchor"
                  >
                    <span class="mry-magnetic-object"></span>
                  </a>
                  <div class="mry-label mry-fo">Scroll Down</div>
                </div>
              </div>
            </div>
          </div>

           <div class="mry-about mry-p-100-0">
          <div class="container">
            <div class="row justify-content-center" style="align-items: center;">

              <div class="col-lg-5">
                <div class="mry-mb-100 mry-text-center mry-fo">
                  <img src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753952172/QR_ne2mui.jpg" alt="QR Code for Contact" style="width: 380px; height: auto; border: 1px solid #eee; padding: 10px; border-radius: 5px; background-color: white;">
                </div>
              </div>

              <div class="col-lg-7">
                <div class="mry-mb-100 mry-fo">
                  <div style="display: flex; align-items: flex-start; margin-bottom: 30px;">
                    <i class="fas fa-map-marker-alt" style="font-size: 24px; color: #F5B303; margin-right: 20px; margin-top: 5px; width: 30px; text-align: center;"></i>
                    <div>
                      <h4 class="mry-mb-10">Address:</h4>
                      <p class="mry-text">12, Ground Floor, Dadi Building, Rani Sati Marg, Kathiyawadi Chowk, near Union Bank, Malad East, Mumbai, Maharashtra 400097</p>
                    </div>
                  </div>
                  <div style="display: flex; align-items: flex-start; margin-bottom: 30px;">
                    <i class="fas fa-phone-alt" style="font-size: 24px; color: #F5B303; margin-right: 20px; margin-top: 5px; width: 30px; text-align: center;"></i>
                    <div>
                      <h4 class="mry-mb-10">Phone:</h4>
                      <p class="mry-text">+91-9372963906</p>
                    </div>
                  </div>
                  <div style="display: flex; align-items: flex-start;">
                    <i class="fas fa-envelope" style="font-size: 24px; color: #F5B303; margin-right: 20px; margin-top: 5px; width: 30px; text-align: center;"></i>
                    <div>
                      <h4 class="mry-mb-10">Email:</h4>
                      <p class="mry-text">ezygrofin@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

  </body>
  </MainLayout>
