---
import "../styles/global.css";
import ComingSoonPage from "@/lib/pages/ComingSoonPage";
---

<html lang="en">
  <head>
    <title>Reset Interiors</title>
  </head>
  <body>
    <ComingSoonPage client:only />
  </body>
</html>
