---
import MainLayout from "../lib/layouts/main-layout.astro";
---

<MainLayout>
  <section class="pager-section">
    <div class="container">
      <div class="pager-info">
        <h3>Our Services</h3>
      </div>
      <div class="pger-imgs style2">
        <div class="abt-imgz">
          <video autoplay loop muted playsinline width="100%">
            <source
              src="https://res.cloudinary.com/daoju0r3c/video/upload/v1753735392/servicesfull_w1ixvy.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div><!--pger-imgs end-->
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="services-block">
    <div class="container">
      <div class="section-title">
        <!-- <h3 class="sub-title">Our Services</h3> -->
        <!-- <p>We are ready to offer you a complete range of design and architecture services.</p> -->
      </div>
      <div class="service-grid">
        <div class="service-card">
          <div class="card-icon">
            <svg
              width="118"
              height="91"
              viewBox="0 0 118 91"
              fill="white"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M116.705 90.9408C117.271 90.9408 117.703 90.5106 117.703 89.9479C117.703 89.3853 117.271 88.955 116.705 88.955H113.479V87.6643C114.477 87.4657 115.807 86.6383 115.807 84.1892C115.807 83.3287 115.707 81.1444 115.441 79.1917C115.142 76.9743 114.51 74.3928 112.714 74.3928H112.647C110.818 74.3928 110.253 76.9743 109.92 79.1917C109.654 81.1113 109.621 83.2956 109.621 84.1561C109.621 86.9031 111.151 87.6312 112.481 87.6974V88.955H106.827V87.6643C107.825 87.4657 109.155 86.6383 109.155 84.1892C109.155 83.3287 109.055 81.1444 108.789 79.1917C108.49 76.9743 107.858 74.3928 106.062 74.3928H105.996C104.166 74.3928 103.601 76.9743 103.268 79.1917C103.002 81.1113 102.969 83.2956 102.969 84.1561C102.969 86.9031 104.499 87.6312 105.829 87.6974V88.955H100.175V87.6643C101.173 87.4657 102.503 86.6383 102.503 84.1892C102.503 83.3287 102.404 81.1444 102.137 79.1917C101.838 76.9743 101.206 74.3928 99.4102 74.3928H99.3437C97.5144 74.3928 96.949 76.9743 96.6164 79.1917C96.3503 81.1113 96.3171 83.2956 96.3171 84.1561C96.3171 86.9031 97.847 87.6312 99.1774 87.6974V88.955H95.918C94.122 86.6383 83.5455 71.1163 83.479 6.54581C84.8093 6.11556 85.8071 4.85791 85.8071 3.36858C85.8071 1.5152 84.3104 0.0258789 82.4479 0.0258789C80.5854 0.0258789 79.122 1.5483 79.122 3.36858C79.122 4.891 80.2528 6.18175 81.5832 6.5789V77.1067L80.2528 75.9152V18.2618C80.2528 17.9971 80.1198 17.6661 79.9202 17.5006C79.7206 17.302 79.4213 17.1366 79.1885 17.1366L68.9446 17.2027C68.4457 17.2027 68.0466 17.5999 67.9468 18.0963L61.561 59.4995L20.918 23.6565C20.6186 23.3917 20.2528 23.3255 19.8869 23.491C19.5211 23.6565 19.3548 24.0205 19.3548 24.3846V88.922H14.6985V87.6312C15.6962 87.4326 17.0266 86.6052 17.0266 84.1561C17.0266 83.2956 16.9268 81.1113 16.6608 79.1586C16.3614 76.9412 15.7295 74.3597 13.9335 74.3597H13.867C12.0377 74.3597 11.4723 76.9412 11.1397 79.1586C10.8736 81.0782 10.8404 83.2625 10.8404 84.123C10.8404 86.87 12.3703 87.5981 13.7007 87.6643V88.922H8.04657V87.6312C9.04435 87.4326 10.3747 86.6052 10.3747 84.1561C10.3747 83.2956 10.2749 81.1113 10.0089 79.1586C9.70954 76.9412 9.07761 74.3597 7.2816 74.3597H7.21508C5.38581 74.3597 4.8204 76.9412 4.48781 79.1586C4.22173 81.0782 4.18847 83.2625 4.18847 84.123C4.18847 86.87 5.71841 87.5981 7.04878 87.6643V88.922H1.2949C0.729492 88.922 0.297119 89.3522 0.297119 89.9148C0.297119 90.4775 0.729492 90.9077 1.2949 90.9077H116.705V90.9408ZM7.18182 85.6454C6.51663 85.6454 6.11752 85.5793 6.11752 84.123C6.11752 80.8465 6.61641 77.3714 7.21508 76.544C7.78049 77.4045 8.31264 80.8465 8.31264 84.123C8.31264 85.5793 7.91353 85.6454 7.24834 85.6454H7.18182ZM13.8337 85.6454C13.1685 85.6454 12.7694 85.5793 12.7694 84.123C12.7694 80.8465 13.2683 77.3714 13.867 76.544C14.4324 77.4045 14.9645 80.8465 14.9645 84.123C14.9645 85.5793 14.5654 85.6454 13.9002 85.6454H13.8337ZM26.3392 88.955C26.8049 81.6739 32.8914 75.8821 40.3415 75.8821C47.7916 75.8821 53.8781 81.6739 54.3437 88.955H26.3392ZM56.9379 88.955H56.3393C55.8736 80.681 48.8891 73.8963 40.3415 73.8963C31.7938 73.8963 24.8093 80.681 24.3437 88.955H21.3171V26.6351L61.1951 61.8163L56.9379 88.955ZM73.5344 88.955H58.9668L59.8315 83.3287H73.5344V88.955ZM73.5344 82.3358H59.9645L60.663 77.7024H73.5011V82.3358H73.5344ZM73.5344 72.738V76.7095H60.8625L61.561 72.076H72.8027H73.5344V72.738ZM73.5344 70.0903V71.0832H71.6719H61.7273L62.4257 66.4497H66.4169H69.4102H73.5344V70.0903ZM73.5344 65.4568H68.3126H65.3193H62.592L62.9246 63.3718L63.2905 61.022L63.3237 60.8234H73.5676V65.4568H73.5344ZM73.5344 59.8305H63.4568L64.1552 55.197H73.5344V59.8305ZM73.5344 54.2042H64.3215L65.02 49.5707H73.5344V54.2042ZM73.5344 48.5778H65.1863L65.8847 43.9444H73.5344V48.5778ZM73.5344 42.9515H66.051L66.7495 38.3181H73.5344V42.9515ZM73.5344 37.3252H66.9158L67.6142 32.6917H73.5344V37.3252ZM73.5344 31.6988H67.7805L68.4789 27.0654H73.5011V31.6988H73.5344ZM73.5344 26.0725H68.6452L69.7428 19.2216L73.5344 19.2547V26.0725ZM78.1907 74.1942V76.8419V88.955H74.5322V73.6316V70.9839V19.2547H78.1907V74.1942ZM81.5166 88.955H80.1863V78.6291L81.5166 79.8205V88.955ZM82.3814 4.75862C81.6164 4.75862 81.0178 4.16289 81.0178 3.40168C81.0178 2.64047 81.6164 2.04474 82.3814 2.04474C83.1464 2.04474 83.745 2.64047 83.745 3.40168C83.745 4.16289 83.1464 4.75862 82.3814 4.75862ZM92.0266 86.4398C92.5588 87.5319 93.0244 88.3262 93.4235 88.9882H91.8936H83.5122V81.5746V78.9269V49.3059C85.8404 70.5205 89.4657 81.2437 92.0266 86.4398ZM99.3104 85.6454C98.6452 85.6454 98.2461 85.5793 98.2461 84.123C98.2461 80.8465 98.745 77.3714 99.3437 76.544C99.9091 77.4045 100.441 80.8465 100.441 84.123C100.441 85.5793 100.042 85.6454 99.377 85.6454H99.3104ZM105.962 85.6454C105.297 85.6454 104.898 85.5793 104.898 84.123C104.898 80.8465 105.397 77.3714 105.996 76.544C106.561 77.4045 107.093 80.8465 107.093 84.123C107.093 85.5793 106.694 85.6454 106.029 85.6454H105.962ZM112.614 85.6454C111.949 85.6454 111.55 85.5793 111.55 84.123C111.55 80.8465 112.049 77.3714 112.647 76.544C113.213 77.4045 113.745 80.8465 113.745 84.123C113.745 85.5793 113.346 85.6454 112.681 85.6454H112.614Z"
              ></path>
            </svg>
          </div>
          <span class="card-number">01</span>
          <h4 class="card-title">Mood board & Style guidance</h4>
          <p class="card-description">
            Tailored to your requirements, with flexibility for adjustments.
            Assistance in selecting room aesthetics, including references, color
            palettes, and finishes.
          </p>
        </div>

        <div class="service-card">
          <div class="card-icon">
            <svg
              width="118"
              height="60"
              viewBox="0 0 118 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M116.5 57.7109H106.9V51.6903H108.9C109.433 51.6903 109.9 50.8159 109.9 50.2441V46.9815H112.867C113.4 46.9815 113.867 46.107 113.867 45.5353V30.5007C113.867 29.9625 113.433 29.9289 112.867 29.9289H109.833C109.867 29.9289 109.9 29.2898 109.9 29.1553V26.4646C109.9 25.9264 109.467 25.8928 108.9 25.8928H74.7333V1.44056C74.7333 1.13785 74.6 0.86878 74.3667 0.666974C74.1333 0.465167 73.8333 0.397898 73.5333 0.465167L32.1333 8.94104C31.6667 9.04194 31.3333 9.64736 31.3333 10.1182L31.3 11.8672H18.7333C18.2 11.8672 17.7333 11.9009 17.7333 12.439V16.5424H14.4C13.8667 16.5424 13.4 16.576 13.4 17.1142V24.4801C13.4 25.0183 13.8333 25.9264 14.4 25.9264H17.7333V27.9445H14.4C13.8667 27.9445 13.4 27.9781 13.4 28.5163V35.8822C13.4 36.4203 13.8333 37.3285 14.4 37.3285H17.7333V39.3465H14.4C13.8667 39.3465 13.4 39.3802 13.4 39.9183V47.2842C13.4 47.8224 13.8333 48.7305 14.4 48.7305H17.7333V57.7445H7.8V55.3901H10.6667C11.2 55.3901 11.6667 54.7174 11.6667 54.1793C11.6667 54.0448 11.6333 53.8429 11.6 53.742L8.13333 39.0775C8.03333 38.6402 7.63333 38.2702 7.16667 38.2702C6.7 38.2702 6.3 38.5729 6.2 39.0438L2.73333 53.742C2.66667 54.0448 2.73333 54.5829 2.93333 54.8183C3.13333 55.0538 3.4 55.4238 3.7 55.4238H6.8V57.7782H1.5C0.966667 57.7782 0.5 58.2154 0.5 58.7872C0.5 59.3254 0.933333 59.7962 1.5 59.7962H116.5C117.033 59.7962 117.5 59.359 117.5 58.7872C117.5 58.1482 117.067 57.7109 116.5 57.7109ZM4.96667 53.3048L7.2 43.8535L9.43333 53.3048H4.96667ZM112.5 44.8962H107.067L108.9 41.5328H112.5V44.8962ZM112.5 34.5032V35.8485H112L112.5 34.5032ZM112.5 36.8239V40.5237H109.433L111.433 36.8239H112.5ZM107.167 40.5237H103.533L101.533 36.8239H109.2L107.167 40.5237ZM106.633 41.5328L105.367 43.8535L104.1 41.5328H106.633ZM101.267 40.5237H93.2333L95.2333 36.8239H99.2333L101.267 40.5237ZM87.3 40.5237L85.3 36.8239H92.9667L90.9667 40.5237H87.3ZM90.3667 41.5328L89.1 43.8535L87.8333 41.5328H90.3667ZM71.2667 40.5237L69.2667 36.8239H76.9333L74.9333 40.5237H71.2667ZM74.3667 41.5328L73.1 43.8535L71.8333 41.5328H74.3667ZM65.8333 36.8239H66.9667L68.9667 40.5237H65.8V36.8239H65.8333ZM79.2 36.8239H83L85 40.5237H77.1667L79.2 36.8239ZM81.1 33.3596L82.4333 35.8485H79.7333L81.1 33.3596ZM95.7667 35.8149L97.2333 33.1242L98.7 35.8149H95.7667ZM93.5 35.8149H84.7333L82.5333 31.7788H95.7L93.5 35.8149ZM77.4667 35.8149H68.7L66.5 31.7788H79.6667L77.4667 35.8149ZM66.4333 35.8149H65.8333V34.3014L66.4333 35.8149ZM65.8333 41.5328H69.5333L71.3667 44.8962H65.8333V41.5328ZM76.6333 41.5328H85.5667L87.4 44.8962H74.8333L76.6333 41.5328ZM92.6667 41.5328H101.8L103.633 44.8962H90.8333L92.6667 41.5328ZM111.933 31.7788L109.733 35.8149H100.967L98.7667 31.7788H111.933ZM73.1667 2.31506V25.7246H65.1667V4.09768C65.1667 4.06405 65.1667 3.99678 65.1333 3.96314L73.1667 2.31506ZM64.1667 25.7246H60.8333C60.2667 25.7246 59.8333 25.7582 59.8333 26.2964V51.2867H56.5V5.74577L64.1667 4.16495V25.7246ZM55.5 51.2867H48.5V48.596H51.8333C52.4 48.596 52.8333 47.7215 52.8333 47.1497V39.7501C52.8333 39.1784 52.3667 39.1784 51.8333 39.1784H48.5V37.1603H51.8333C52.4 37.1603 52.8333 36.2858 52.8333 35.714V28.3144C52.8333 27.7427 52.3667 27.7427 51.8333 27.7427H48.5V25.7246H51.8333C52.4 25.7246 52.8333 24.8501 52.8333 24.2783V16.8788C52.8333 16.307 52.3667 16.307 51.8333 16.307H48.5V12.1699C48.5 11.7327 48.1667 11.3627 47.8333 11.2282V7.52839L55.5 5.94757V51.2867ZM19.8333 46.5779V41.1964H46.5V46.5779H19.8333ZM48.5 41.1964H50.8333V46.5779H48.5V41.1964ZM19.8333 29.7607H46.5V35.1422H19.8333V29.7607ZM48.5 29.7607H50.8333V35.1422H48.5V29.7607ZM19.8333 18.325H46.5V23.7065H19.8333V18.325ZM48.5 18.325H50.8333V23.7065H48.5V18.325ZM33.5 10.69L46.8333 7.7302V11.5982H33.4667L33.5 10.69ZM19.8333 13.6162H32.3C32.3333 13.6162 32.4 13.6162 32.4333 13.6498C32.5 13.6498 32.5667 13.6162 32.6 13.6162H46.4667V16.307H19.8V13.6162H19.8333ZM15.5 23.7065V18.325H17.8333V23.7065H15.5ZM19.8333 25.7246H46.5V27.7427H19.8333V25.7246ZM15.5 35.1422V29.7607H17.8333V35.1422H15.5ZM19.8333 37.1603H46.5V39.1784H19.8333V37.1603ZM15.5 46.5779V41.1964H17.8333V46.5779H15.5ZM19.8333 48.596H21.8333V57.6773H19.8333V48.596ZM22.8333 48.596H24.8333V57.6773H22.8333V48.596ZM25.8333 48.596H27.8333V57.6773H25.8333V48.596ZM28.8333 48.596H30.8333V57.6773H28.8333V48.596ZM31.8333 48.596H46.5V51.8585V57.6773H31.8333V48.596ZM48.5 53.3048H59.8333V57.6773H48.5V53.3048ZM61.8333 27.7427H108.5V28.9871C108.5 29.1217 108.533 29.7607 108.567 29.7607H64.8333C64.2667 29.7607 63.8333 29.7944 63.8333 30.3325V45.468C63.8333 46.0398 64.2667 46.9143 64.8333 46.9143H72.8C72.9 46.9143 73 46.9815 73.1 46.9815C73.2 46.9815 73.3 46.9143 73.4 46.9143H88.8C88.9 46.9143 89 46.9815 89.1 46.9815C89.2 46.9815 89.3 46.9143 89.4 46.9143H105.033C105.133 46.9143 105.233 46.9815 105.333 46.9815C105.433 46.9815 105.533 46.9143 105.633 46.9143H108.5V49.605H81.7C81.5333 49.605 81.4 49.4368 81.2667 49.5041L65.9 57.3746C65.8 57.4418 65.7 57.6773 65.6333 57.6773H61.8333V27.7427ZM81.9667 51.6231H85.8667V57.6773H70L81.9667 51.6231ZM86.8333 51.6231H92.5V57.6773H86.8333V51.6231ZM93.5 51.6231H99.1667V57.6773H93.5V51.6231ZM100.167 51.6231H105.5V57.6773H100.167V51.6231Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span class="card-number">02</span>
          <h4 class="card-title">2D Drawings & 3D Renders</h4>
          <p class="card-description">
            Experience your space before it’s built with accurate 2D drawings
            and lifelike 3D renders. Our visualizations ensure clarity,
            precision, and confident decision-making.
          </p>
        </div>

        <div class="service-card">
          <div class="card-icon">
            <svg
              width="118"
              height="73"
              viewBox="0 0 118 73"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M116.7 70.6668H109.4V68.2668H113.133C113.7 68.2668 114.167 68.0001 114.167 67.4334C114.167 67.3001 114.133 67.2668 114.1 67.1668L110.533 52.2001C110.433 51.7334 110 51.4334 109.533 51.4334C109.067 51.4334 108.633 51.7668 108.533 52.2334L104.933 67.3668C104.867 67.6668 104.933 67.8334 105.133 68.0668C105.333 68.3001 105.633 68.2668 105.933 68.2668H108.4V70.6668H99.4667V68.2668H103.2C103.767 68.2668 104.233 68.0001 104.233 67.4334C104.233 67.3001 104.2 67.2668 104.167 67.1668L100.6 52.2001C100.5 51.7334 100.067 51.4334 99.6 51.4334C99.1333 51.4334 98.7 51.7668 98.6 52.2334L95 67.3668C94.9333 67.6668 95 67.8334 95.2 68.0668C95.4 68.3001 95.7 68.2668 96 68.2668H98.4667V70.6668H92.6333V49.3668H99.9333C100.5 49.3668 100.2 49.2668 100.2 48.7001V25.3668C100.2 24.8001 100.5 23.9668 99.9333 23.9668H92.6333V2.0001C92.6333 1.43343 92.9334 0.600098 92.3667 0.600098H69C68.4333 0.600098 67.2 1.43343 67.2 2.0001V25.3668C67.2 25.9334 68.4333 26.0334 69 26.0334H74.7667V47.3334H69C68.4333 47.3334 67.2 48.1668 67.2 48.7334V70.6668H64.1V49.0334C64.1 48.4668 64.4 47.6334 63.8333 47.6334H50V19.5001C50 18.9334 50.3 18.1001 49.7333 18.1001H16.0667C15.5 18.1001 14.2667 18.9334 14.2667 19.5001V70.6668H7.4V68.2668H11.1333C11.7 68.2668 12.1667 68.0001 12.1667 67.4334C12.1667 67.3001 12.1333 67.2668 12.1 67.1668L8.53333 52.2001C8.43333 51.7334 8 51.4334 7.53333 51.4334C7.06667 51.4334 6.63333 51.7668 6.53333 52.2334L2.93333 67.3668C2.86667 67.6668 2.93333 67.8334 3.13333 68.0668C3.33333 68.3001 3.63333 68.2668 3.93333 68.2668H6.4V70.6668H1.3C0.733333 70.6668 0.266666 71.1334 0.266666 71.7001C0.266666 72.2668 0.733333 72.7334 1.3 72.7334H22.2667H63.8333H69H92.3667H116.767C117.333 72.7334 117.8 72.2668 117.8 71.7001C117.733 71.1334 117.267 70.6668 116.7 70.6668ZM107.233 66.2001L109.533 56.5668L111.833 66.2001H107.233ZM97.2667 66.2001L99.5667 56.5668L101.867 66.2001H97.2667ZM5.23333 66.2001L7.53333 56.5668L9.83333 66.2001H5.23333ZM55.5 49.7334V64.1668H49.6667V49.7334H55.5ZM42.7667 64.1334V49.7001H48.6V64.1334H42.7667ZM35.9 64.1334V49.7001H41.7333V64.1334H35.9ZM29.0333 64.1334V49.7001H34.8667V64.1334H29.0333ZM47.9333 20.1668V47.6668H40.0667L32.3333 20.2001H47.9333V20.1668ZM16.3333 20.1668H31.2667L39 47.6668H22.2333C21.6667 47.6668 20.4333 48.5001 20.4333 49.0668V70.6668H16.3333V20.1668ZM22.5 49.7334H28V64.1668H27.4C26.8333 64.1668 26.3667 64.6334 26.3667 65.2001C26.3667 65.7668 26.8333 66.2334 27.4 66.2334H28V70.6668H22.5V49.7334ZM29.0333 66.2001H31.4333V70.6668H29.0333V66.2001ZM32.4667 66.2001H38.3V70.6668H32.4667V66.2001ZM39.3333 66.2001H45.1667V70.6668H39.3333V66.2001ZM46.2 66.2001H52.0333V70.6668H46.2V66.2001ZM53.0667 66.2001H55.4667V70.6668H53.0667V66.2001ZM56.5333 66.2001H59C59.5667 66.2001 60.0333 65.7334 60.0333 65.1668C60.0333 64.6001 59.5667 64.1334 59 64.1334H56.5333V49.7001H62V70.6668H56.5V66.2001H56.5333ZM87.3 47.3001L84.1667 26.0001H87.6L90.7333 47.3001H87.3ZM98.0667 26.0334V47.3334H92.3H91.7333L88.6 26.0334H92.3H98.0667ZM77.1 23.9668L77.9667 20.8001C78.0333 20.8334 78.1333 20.8668 78.2 20.8668H90.5V23.9668H77.1ZM82.2 5.73343C82.2667 5.73343 82.3 5.76676 82.3667 5.76676H90.5334V8.5001H81.4333L82.2 5.73343ZM81.1333 9.53343H90.5334V12.2668H80.3667L81.1333 9.53343ZM80.1 13.2668C80.1667 13.3001 80.2333 13.3001 80.3 13.3001H90.5334V16.0334H79.3333L80.1 13.2668ZM79.0333 17.1001H90.5334V19.8334H78.2667L79.0333 17.1001ZM90.5334 4.73343H82.5L83.0667 2.66676H90.5334V4.73343ZM69.2333 23.9668V2.66676H82L76.0667 23.9668H69.2333ZM76.7667 26.0334H83.1L86.2333 47.3334H76.7667V26.0334ZM81.9 59.6668H69.2333V56.9334H81.5L81.9 59.6668ZM69.2333 64.5001H82.6L83 67.2334H69.2333V64.5001ZM69.2333 63.4668V60.7334H82C82 60.7334 82 60.7334 82.0333 60.7334L82.4333 63.5001H69.2333V63.4668ZM69.2333 55.9001V53.1668H80.9333L81.3333 55.9001H69.2333ZM69.2333 49.3668H76.5333H80.4L80.8 52.1001H69.2667V49.3668H69.2333ZM69.2333 70.6668V68.2668H83.1667L83.5333 70.6668H69.2333ZM84.5333 70.6668L82.4667 56.8001C82.5 56.7334 82.5 56.7668 82.5 56.6668C82.5 56.5334 82.4333 56.2668 82.3667 56.2001L81.3667 49.3668H90.4667V70.6668H84.5333Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span class="card-number">03</span>
          <h4 class="card-title">Contractor Communication</h4>
          <p class="card-description">
            One detailed briefing and review of contractor drawings
            post-completion to ensure the design vision is executed perfectly.
          </p>
        </div>

        <div class="service-card">
          <div class="card-icon">
            <svg
              width="118"
              height="46"
              viewBox="0 0 118 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M116.167 43.7667H109.167V40.2334C114.833 40.1 114.967 34.7334 114.967 32.9667C114.967 32.9 114.967 26.9667 114.167 21.1334C113.2 14 111.533 10.8 108.967 10.8H108.833C106.267 10.8 104.6 14 103.633 21.1334C102.833 27 102.833 32.9667 102.833 33.0334C102.833 34.7667 102.867 39.8334 108.2 40.2334V43.8H101.867V31.5334C101.867 30.9667 101.4 30.8 100.867 30.8H98.6666C98.4 26.1334 97.3 18.8 92.7333 18.8H92.6C88.0333 18.8 86.9 26.1334 86.6666 30.8H81.1666V13.1667C81.1666 13.1334 81.1666 13.0667 81.1666 13.0334L83.4 13.4667C83.4666 13.4667 83.5333 13.5 83.6 13.5C84.0666 13.5 84.5 13.1667 84.5666 12.7C84.6666 12.1667 84.3 11.6334 83.7666 11.5334L25.3 0.266705C24.7666 0.166705 24.2333 0.533372 24.1333 1.0667C24.0333 1.60004 24.4 2.13337 24.9333 2.23337L26.5 2.53337V19.1H19.5C18.9333 19.1 18.5 19.2667 18.5 19.8334V43.1667C18.5 43.3 18.5333 43.7667 18.5666 43.7667H10.8333V40.6667C13.8333 40.6 16.5333 39.5667 16.5333 33.7334C16.5333 30.8334 15.9333 26.4667 15 22.9C13.7333 17.9667 12.2333 15.5667 10.4333 15.5667C8.59998 15.5667 7.09998 17.9667 5.86665 22.9C4.93331 26.4334 4.33331 30.8 4.33331 33.7C4.33331 39.4334 6.83331 40.5334 9.83331 40.6334V43.7667H1.83331C1.26665 43.7667 0.833313 44.2 0.833313 44.7667C0.833313 45.3334 1.26665 45.7667 1.83331 45.7667H116.167C116.733 45.7667 117.167 45.3334 117.167 44.7667C117.167 44.2 116.733 43.7667 116.167 43.7667ZM105.6 21.3667C106.5 14.9 107.9 12.7667 108.833 12.7667H108.967C109.9 12.7667 111.3 14.9 112.2 21.3667C113 27.1 113 32.9334 113 33C113 36.8 111.867 38.3667 109 38.3667L108.967 38.4334H108.867C106 38.4334 104.867 36.9 104.867 33.1C104.8 33.0334 104.833 27.1 105.6 21.3667ZM6.33331 33.7C6.33331 31 6.93331 26.7334 7.79998 23.3667C9.03331 18.5667 10.2 17.5334 10.4333 17.5334C10.6666 17.5334 11.8666 18.5667 13.0666 23.3667C13.9333 26.7334 14.5333 31 14.5333 33.7C14.5333 38.3 12.9 38.6334 10.4333 38.6334C7.93331 38.6667 6.33331 38.3 6.33331 33.7ZM88.6666 30.6334C88.9666 25.9667 90.1 20.7667 92.6 20.7667H92.7333C95.2333 20.7667 96.3666 25.9334 96.6666 30.6334C96.7 31.3334 96.7333 31.9334 96.7333 32.5667C96.7333 32.7334 96.7333 32.8667 96.7333 33.0334C96.7333 36.8334 95.6 38.2 92.7333 38.2L92.7 38.1H92.6C89.7333 38.1 88.6 36.7 88.6 32.9C88.6 32.7334 88.6 32.6667 88.6 32.5C88.6 31.8667 88.6333 31.3 88.6666 30.6334ZM71.5 34.7667H70.5V10.9667L79.3 12.6667C79.2 12.8 79.1666 12.9667 79.1666 13.1667V34.7667H71.5ZM69.5 34.7667H59.8333V8.93337L69.5 10.8V34.7667ZM58.8333 34.7667H49.1666V6.86671L58.8333 8.73337V34.7667ZM48.1666 34.7667H38.8333V4.90004L48.1666 6.70004V34.7667ZM37.8333 4.70004V34.7667H28.5V19.8334V2.90004L37.8333 4.70004ZM20.5 32.4334H26.5V34.4334H20.5V32.4334ZM20.5 29.4334H26.5V31.4334H20.5V29.4334ZM26.5 28.4334H20.5V26.4334H26.5V28.4334ZM20.5 35.4334H26.5V35.5V37.7667H20.5V35.4334ZM26.5 25.4334H20.5V23.4334H26.5V25.4334ZM20.5 38.7667H26.5V40.7667H20.5V38.7667ZM20.5 21.1H26.5V22.4334H20.5V21.1ZM20.5 43.1667V41.7667H26.5V43.7667H20.4333C20.4666 43.7667 20.5 43.2667 20.5 43.1667ZM66.5 43.7667H64.8333V39.4334H66.5V43.7667ZM67 38.4334H64.3333C64.0666 38.4334 63.8333 38.3667 63.8333 38.6667V43.7667H28.5V36.7667H70.5V43.7667H67.5V38.6667C67.5 38.3667 67.2666 38.4334 67 38.4334ZM72.5 36.7667H80.1666C80.7333 36.7667 81.1666 36.0334 81.1666 35.5V32.7667H86.6C86.6 32.7667 86.6 32.9667 86.6 33.1334C86.6 34.9 86.5 39.9667 92.1666 40.2334V43.7667H72.5V36.7667ZM93.1666 40.2334C98.8333 39.9667 98.7333 34.8667 98.7333 33.1334C98.7333 32.9667 98.7333 32.7667 98.7333 32.7667H99.8333V43.7667H93.1666V40.2334Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span class="card-number">04</span>
          <h4 class="card-title">Furniture Selection & Supplier Connections</h4>
          <p class="card-description">
            Verification of loose furniture choices through photos and
            dimensions. Access to reliable suppliers in China, Hong Kong, India
            and more for various furnishings.
          </p>
        </div>

        <div class="service-card">
          <div class="card-icon">
            <svg
              width="120"
              height="33"
              viewBox="0 0 120 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M118.263 30.9474H106.674V27.1263C109.832 27.0631 112.642 26.0526 112.642 19.9263C112.642 15.5052 110.653 0.915771 106.326 0.915771C101.968 0.915771 100.042 15.5052 100.042 19.9263C100.042 25.8316 102.6 27 105.758 27.1263V30.9474H98.1789V21.2526C98.1789 21.1579 98.4 21.0316 98.4631 20.8421C98.6526 20.3684 98.4316 19.8 97.9579 19.6105L72.3789 8.74735C72.1263 8.65261 71.8737 8.68419 71.621 8.77893L63.3158 12.3158H49.421C48.8842 12.3158 48.5684 12.6631 48.5684 13.1684V18.5368L46.0737 19.5789H46.0421L32.4 22.8631C31.8947 22.9895 31.6105 23.4947 31.7368 24C31.8 24.221 31.8316 24.4105 32.1474 24.5368V30.9474H24.2526V27.1263C27.4105 27.0316 30.0316 25.9579 30.0316 19.9263C30.0316 15.5052 28.0421 0.915771 23.7158 0.915771C19.3895 0.915771 17.4316 15.5052 17.4316 19.9263C17.4316 25.9579 20.1474 27.0316 23.3052 27.1263V30.9474H10.9895V27.1263C14.1474 27.0316 16.7684 25.9579 16.7684 19.9263C16.7684 15.5052 14.7789 0.915771 10.4526 0.915771C6.1263 0.915771 4.16841 15.5052 4.16841 19.9263C4.16841 25.9579 6.8842 27.0316 10.0421 27.1263V30.9474H1.73683C1.19999 30.9474 0.789459 31.3579 0.789459 31.8947C0.789459 32.4316 1.19999 32.8421 1.73683 32.8421H118.263C118.8 32.8421 119.211 32.4316 119.211 31.8947C119.211 31.3895 118.8 30.9474 118.263 30.9474ZM103.389 9.03156C104.684 3.97893 105.916 2.84209 106.263 2.84209C106.611 2.84209 107.842 3.97893 109.137 9.03156C110.053 12.6 110.684 17.0842 110.684 19.9263C110.684 24.8526 108.853 25.2316 106.263 25.2316C103.674 25.2316 101.842 24.8526 101.842 19.9263C101.842 17.0842 102.474 12.6 103.389 9.03156ZM20.8105 9.03156C22.1052 3.97893 23.3368 2.84209 23.6842 2.84209C24.0316 2.84209 25.2631 3.97893 26.5579 9.03156C27.4737 12.6 28.1052 17.0842 28.1052 19.9263C28.1052 24.8526 26.2737 25.2316 23.6842 25.2316C21.0947 25.2316 19.2631 24.8526 19.2631 19.9263C19.2631 17.0842 19.8947 12.6 20.8105 9.03156ZM7.54735 9.03156C8.84209 3.97893 10.0737 2.84209 10.421 2.84209C10.7684 2.84209 12 3.97893 13.2947 9.03156C14.2105 12.6 14.8421 17.0842 14.8421 19.9263C14.8421 24.8526 13.0105 25.2316 10.421 25.2316C7.83156 25.2316 5.99999 24.8526 5.99999 19.9263C5.99999 17.0842 6.63156 12.6 7.54735 9.03156ZM97.1368 20.3052L97.5158 20.4631H97.4526L97.1368 20.3052ZM50.4631 14.2105H58.8631L50.4631 17.7474V14.2105ZM33.0947 26.2105H46.0421V27.1579H33.0947V26.2105ZM46.0421 21.5684V23.3684H38.8105L46.0421 21.5684ZM46.0421 24.3158V25.2631H33.0947V24.6631L34.8947 24.3158H46.0421ZM33.0947 28.1052H46.0421V29.0526H33.0947V28.1052ZM33.0947 30H46.0421V30.9474H33.0947V30ZM82.0421 30.6316V27.4737H83.9368V30.6316H82.0421ZM84.3158 26.5263H81.4737C81.221 26.5263 81.0947 26.6526 81.0947 26.9052V30.9474H76.0421V24H90.5684V30.9474H84.8842V26.9368C84.8842 26.6526 84.5684 26.5263 84.3158 26.5263ZM91.5158 23.8737C91.8316 23.7474 92.1158 23.4316 92.1158 23.021C92.1158 22.4842 91.6421 22.1052 91.1368 22.1052H75.6631C75.1263 22.1052 74.7474 22.4842 74.7474 23.021C74.7474 23.3052 74.7789 23.4947 75.0947 23.6842V30.9474H46.9895V21.2842L48.8526 20.4631L49.6737 20.1158C49.7052 20.1158 49.7368 20.1158 49.7368 20.0842C49.7684 20.0842 49.8 20.0526 49.8316 20.0526L71.9368 10.6421L95.1158 20.4631L97.1684 21.3474V30.9474H91.4842V23.8737H91.5158Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span class="card-number">05</span>
          <h4 class="card-title">Site <br /> Visits</h4>
          <p class="card-description">
            Three visits for measurements, contractor communication, and process
            support.
          </p>
        </div>

        <div class="service-card">
          <div class="card-icon">
            <svg
              width="118"
              height="46"
              viewBox="0 0 118 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="5"
                y="24"
                width="54"
                height="35"
                rx="2"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></rect>
              <path
                d="M116.167 43.7667H109.167V40.2334C114.833 40.1 114.967 34.7334 114.967 32.9667C114.967 32.9 114.967 26.9667 114.167 21.1334C113.2 14 111.533 10.8 108.967 10.8H108.833C106.267 10.8 104.6 14 103.633 21.1334C102.833 27 102.833 32.9667 102.833 33.0334C102.833 34.7667 102.867 39.8334 108.2 40.2334V43.8H101.867V31.5334C101.867 30.9667 101.4 30.8 100.867 30.8H98.6666C98.4 26.1334 97.3 18.8 92.7333 18.8H92.6C88.0333 18.8 86.9 26.1334 86.6666 30.8H81.1666V13.1667C81.1666 13.1334 81.1666 13.0667 81.1666 13.0334L83.4 13.4667C83.4666 13.4667 83.5333 13.5 83.6 13.5C84.0666 13.5 84.5 13.1667 84.5666 12.7C84.6666 12.1667 84.3 11.6334 83.7666 11.5334L25.3 0.266705C24.7666 0.166705 24.2333 0.533372 24.1333 1.06671C24.0333 1.60004 24.4 2.13337 24.9333 2.23337L26.5 2.53337V19.1H19.5C18.9333 19.1 18.5 19.2667 18.5 19.8334V43.1667C18.5 43.3 18.5333 43.7667 18.5666 43.7667H10.8333V40.6667C13.8333 40.6 16.5333 39.5667 16.5333 33.7334C16.5333 30.8334 15.9333 26.4667 15 22.9C13.7333 17.9667 12.2333 15.5667 10.4333 15.5667C8.59998 15.5667 7.09998 17.9667 5.86665 22.9C4.93331 26.4334 4.33331 30.8 4.33331 33.7C4.33331 39.4334 6.83331 40.5334 9.83331 40.6334V43.7667H1.83331C1.26665 43.7667 0.833313 44.2 0.833313 44.7667C0.833313 45.3334 1.26665 45.7667 1.83331 45.7667H116.167C116.733 45.7667 117.167 45.3334 117.167 44.7667C117.167 44.2 116.733 43.7667 116.167 43.7667ZM105.6 21.3667C106.5 14.9 107.9 12.7667 108.833 12.7667H108.967C109.9 12.7667 111.3 14.9 112.2 21.3667C113 27.1 113 32.9334 113 33C113 36.8 111.867 38.3667 109 38.3667L108.967 38.4334H108.867C106 38.4334 104.867 36.9 104.867 33.1C104.8 33.0334 104.833 27.1 105.6 21.3667ZM6.33331 33.7C6.33331 31 6.93331 26.7334 7.79998 23.3667C9.03331 18.5667 10.2 17.5334 10.4333 17.5334C10.6666 17.5334 11.8666 18.5667 13.0666 23.3667C13.9333 26.7334 14.5333 31 14.5333 33.7C14.5333 38.3 12.9 38.6334 10.4333 38.6334C7.93331 38.6667 6.33331 38.3 6.33331 33.7ZM88.6666 30.6334C88.9666 25.9667 90.1 20.7667 92.6 20.7667H92.7333C95.2333 20.7667 96.3666 25.9334 96.6666 30.6334C96.7 31.3334 96.7333 31.9334 96.7333 32.5667C96.7333 32.7334 96.7333 32.8667 96.7333 33.0334C96.7333 36.8334 95.6 38.2 92.7333 38.2L92.7 38.1H92.6C89.7333 38.1 88.6 36.7 88.6 32.9C88.6 32.7334 88.6 32.6667 88.6 32.5C88.6 31.8667 88.6333 31.3 88.6666 30.6334ZM71.5 34.7667H70.5V10.9667L79.3 12.6667C79.2 12.8 79.1666 12.9667 79.1666 13.1667V34.7667H71.5ZM69.5 34.7667H59.8333V8.93337L69.5 10.8V34.7667ZM58.8333 34.7667H49.1666V6.86671L58.8333 8.73337V34.7667ZM48.1666 34.7667H38.8333V4.90004L48.1666 6.70004V34.7667ZM37.8333 4.70004V34.7667H28.5V19.8334V2.90004L37.8333 4.70004ZM20.5 32.4334H26.5V34.4334H20.5V32.4334ZM20.5 29.4334H26.5V31.4334H20.5V29.4334ZM26.5 28.4334H20.5V26.4334H26.5V28.4334ZM20.5 35.4334H26.5V35.5V37.7667H20.5V35.4334ZM26.5 25.4334H20.5V23.4334H26.5V25.4334ZM20.5 38.7667H26.5V40.7667H20.5V38.7667ZM20.5 21.1H26.5V22.4334H20.5V21.1ZM20.5 43.1667V41.7667H26.5V43.7667H20.4333C20.4666 43.7667 20.5 43.2667 20.5 43.1667ZM66.5 43.7667H64.8333V39.4334H66.5V43.7667ZM67 38.4334H64.3333C64.0666 38.4334 63.8333 38.3667 63.8333 38.6667V43.7667H28.5V36.7667H70.5V43.7667H67.5V38.6667C67.5 38.3667 67.2666 38.4334 67 38.4334ZM72.5 36.7667H80.1666C80.7333 36.7667 81.1666 36.0334 81.1666 35.5V32.7667H86.6C86.6 32.7667 86.6 32.9667 86.6 33.1334C86.6 34.9 86.5 39.9667 92.1666 40.2334V43.7667H72.5V36.7667ZM93.1666 40.2334C98.8333 39.9667 98.7333 34.8667 98.7333 33.1334C98.7333 32.9667 98.7333 32.7667 98.7333 32.7667H99.8333V43.7667H93.1666V40.2334Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span class="card-number">06</span>
          <h4 class="card-title">Ongoing <br /> Support</h4>
          <p class="card-description">
            Available for calls and WhatsApp communication for questions and
            advice.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="vision-sec py-5">
    <div class="fixed-bg bg1"></div>
    <div class="container">
      <div class="row align-items-center">
        <!-- Left Image Layout -->
        <div class="col-lg-7">
          <div class="custom-image-layout">
            <div class="img-box img1">
              <img
                src="https://res.cloudinary.com/daoju0r3c/image/upload/v1754070707/S2_utbmqw.jpg"
                alt="img1"
              />
            </div>
            <div class="img-box img2">
              <img
                src="https://res.cloudinary.com/daoju0r3c/image/upload/v1754070706/S3_yiyxxr.jpg"
                alt="img2"
              />
            </div>
            <div class="img-box img3">
              <img
                src="https://res.cloudinary.com/daoju0r3c/image/upload/v1754070707/S4_awbows.jpg"
                alt="img3"
              />
            </div>
            <div class="img-box img4">
              <img
                src="https://res.cloudinary.com/daoju0r3c/image/upload/v1754070707/S1_osc2kd.jpg"
                alt="img4"
              />
            </div>
          </div>
        </div>

        <!-- Right Content -->
        <div class="col-lg-5">
          <div class="vision-content mt-5 mt-lg-0">
            <h2 style="font-size: 2.75rem; font-weight: 700; color: #7c6240;">
              Designing Spaces,<br />Creating Experiences
            </h2>
            <p class="mt-3" style="font-size: 1rem; color: #333;">
              We transform ideas into timeless interiors through purposeful
              design, precision craftsmanship, and an intimate understanding of
              what makes a space truly feel like home. From initial concept to
              flawless execution, we curate personalized environments that
              reflect your lifestyle, style, and aspirations.
            </p>
            <a
              href="/contact"
              class="btn btn-outline-dark mt-4"
              style="padding: 10px 30px; font-weight: 500;"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .custom-image-layout {
      position: relative;
      width: 100%;
      height: 550px;
    }

    .vision-content .btn-outline-dark:hover {
      background-color: #684f36;
      border-color: #684f36;
      color: #fff;
    }

    .img-box {
      position: absolute;
      overflow: hidden;
    }

    .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .img1 {
      top: 248px;
      left: 50px;
      width: 132px;
      height: 102px;
    }

    .img2 {
      top: 50px;
      left: 200px;
      width: 406px;
      height: 300px;
    }

    .img3 {
      bottom: 0;
      left: 0;
      width: 280px;
      height: 190px;
    }

    .img4 {
      top: 360px;
      left: 300px;
      width: 160px;
      height: 120px;
    }

    .services-block {
      padding: 80px 0;
      background-color: #f8f9fa;
    }

    .section-title {
      text-align: center;
      margin-bottom: 55px;
    }

    .section-title .sub-title {
      font-family: var(--font-sans);
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 30px;
      color: #28292c;
    }

    .section-title p {
      font-family: var(--font-sans);
      font-size: 1.3rem;
      color: #6c757d;
      max-width: 600px;
      margin: 0 auto;
    }

    .service-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .service-card {
      background-color: #684f36;

      padding: 40px;
      border-radius: 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      font-family: var(--font-sans);
      transition: box-shadow 0.3s ease;
    }

    .service-card:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    .service-card:hover .card-icon {
      transform: translateY(-10px);
    }

    .service-card .card-icon {
      margin-bottom: 36px;
      height: 80px;
      opacity: 0.8;
      transition: transform 0.3s ease;
    }

    .service-card .card-icon svg {
      width: 100px;
      height: 120px;
    }

    .service-card .card-number {
      font-size: 1rem;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 12px;
    }

    .service-card .card-title {
      font-size: 1.25rem;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    .service-card .card-description {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.7;
      color: #ffffff;

      opacity: 0.95;
      flex-grow: 1;
    }

    /* Responsive adjustments */
    @media (max-width: 992px) {
      .service-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 768px) {
      .service-grid {
        grid-template-columns: 1fr;
      }
      .services-block {
        padding: 60px 15px;
      }
      .section-title .sub-title {
        font-size: 2rem;
      }
      .service-card {
        padding: 30px;
      }
      .service-card .card-title {
        font-size: 1.5rem;
      }
      .service-card .card-description {
        font-size: 1rem;
      }
    }
  </style>
</MainLayout>
