---
import MainLayout from '../../lib/layouts/main-layout.astro';
---

<MainLayout>

  <body>

      

          <div class="mry-banner mry-p-100-0">
        <div class="mry-head-bg">
            <img
            src="/mireya/img/light/projects/prjct-6/1.jpg"
            alt="background"
            />
            <div class="mry-bg-overlay"></div>
        </div>

        <div class="container">
            <div class="mry-main-title mry-title-center">
            <h1 class="mry-mb-20 mry-fo">
                KP's<br /><span class="mry-border-text" 
               >House</span
                ><span class="mry-animation-el"></span>
            </h1>
            <div class="mry-scroll-hint-frame">
                <a
                class="mry-scroll-hint mry-smooth-scroll mry-magnetic-link mry-fo"
                href="#mry-anchor"
                >
                <span class="mry-magnetic-object"></span>
                </a>
                <div class="mry-label mry-fo">Scroll Down</div>
            </div>
            </div>
        </div>
      </div>

          <!-- project -->
          <div class="mry-about mry-p-100-100">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="mry-mb-100 mry-text-center">
                    <div class="mry-numbering mry-fo">
                      <div class="mry-border-text">01</div>
                      <div class="mry-subtitle">Goal</div>
                    </div>
                    <h3 class="mry-mb-40 mry-fo">
                      Modern Living with a Timeless Touch
                    </h3>
                    <p class="mry-text mry-fo">
                      This contemporary minimalist home embraces simplicity with a luxurious edge. Thoughtful design, clean lines, and high-end finishes come together in a space that feels open, elegant, and effortlessly livable.
                    </p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mry-main-title mry-title-center mry-p-0-40">
                    <div class="mry-numbering mry-fo">
                      <div class="mry-border-text">02</div>
                      <div class="mry-subtitle">Project</div>
                    </div>
                    <h2 class="mry-fo">Project gallery</h2>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mry-portfolio-frame">
                    <div class="mry-masonry-grid mry-without-descr mry-p-0-100">
                      <div class="mry-grid-sizer"></div>

                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 interior"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857445/LIVINGROOM_15A3_CAMBRIDGE_COURT_1.jpeg_haakeo.jpg"
                              alt="project"
                            />
                            <div class="mry-cover-overlay"></div>
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857445/LIVINGROOM_15A3_CAMBRIDGE_COURT_1.jpeg_haakeo.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-2 repair"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <div class="mry-cover-overlay"></div>
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857444/MASTER_BEDROOM_15A3_CAMBRIDGE_COURT_3.jpeg_onlsmp.jpg"
                              alt="project"
                            />
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857444/MASTER_BEDROOM_15A3_CAMBRIDGE_COURT_3.jpeg_onlsmp.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 interior repair"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857428/LIVINGROOM_15A3_CAMBRIDGE_COURT_2.jpeg_1_yffgmn.jpg"
                              alt="project"
                            />
                            <div class="mry-cover-overlay"></div>
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857428/LIVINGROOM_15A3_CAMBRIDGE_COURT_2.jpeg_1_yffgmn.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-1 repair"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <div class="mry-cover-overlay"></div>
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857444/MASTER_BEDROOM_15A3_CAMBRIDGE_COURT_1.jpeg_vmruvn.jpg"
                              alt="project"
                            />
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857444/MASTER_BEDROOM_15A3_CAMBRIDGE_COURT_1.jpeg_vmruvn.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-2 repair"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <div class="mry-cover-overlay"></div>
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857441/BATHROOM_15A3_CAMBRIDGE_COURT_1.jpeg_rcblli.jpg"
                              alt="project"
                            />
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857441/BATHROOM_15A3_CAMBRIDGE_COURT_1.jpeg_rcblli.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-1 repair"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <div class="mry-cover-overlay"></div>
                            <img
                              src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857437/STUDY_AREA_15A3_CAMBRIDGE_COURT_3.jpeg_tchme4.jpg"
                              alt="project"
                            />
                            <div class="mry-hover-links">
                              <a
                                href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753857437/STUDY_AREA_15A3_CAMBRIDGE_COURT_3.jpeg_tchme4.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      

                      

                      

                      
                      <!-- <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-2 interior"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <img
                              src="/mireya/img/light/projects/prjct-1/6.jpg"
                              alt="project"
                            />
                            <div class="mry-cover-overlay"></div>
                            <div class="mry-hover-links">
                              <a
                                href="/mireya/img/light/projects/prjct-1/fs/6.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 interior"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <img
                              src="/mireya/img/light/projects/prjct-1/2.jpg"
                              alt="project"
                            />
                            <div class="mry-cover-overlay"></div>
                            <div class="mry-hover-links">
                              <a
                                href="/mireya/img/light/projects/prjct-1/fs/2.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div
                        class="mry-masonry-grid-item mry-masonry-grid-item-50 interior"
                      >
                        <div class="mry-card-item">
                          <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                            <img
                              src="/mireya/img/light/projects/prjct-1/fs/5.jpg"
                              alt="project"
                            />
                            <div class="mry-cover-overlay"></div>
                            <div class="mry-hover-links">
                              <a
                                href="/mireya/img/light/projects/prjct-1/fs/5.jpg"
                                data-fancybox="works"
                                class="mry-zoom mry-magnetic-link"
                                ><span class="mry-magnetic-object"
                                  ><i class="fas fa-expand"></i></span
                                ></a
                              >
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-8">
                  <div class="mry-mb-100 mry-text-center">
                    <div class="mry-numbering mry-fo">
                      <div class="mry-border-text">03</div>
                      <div class="mry-subtitle">Result</div>
                    </div>
                    <h3 class="mry-mb-40 mry-fo">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Asperiores, id!
                    </h3>
                    <p class="mry-text mry-fo">
                      We has expertise in branding and brand strategy, website
                      design, social media management, content marketing,
                      pay-per-click advertising (PPC) and search engine
                      optimization (SEO). As a leading website design company in
                      Toronto we have expertise in WordPress design and
                      development, e-commerce website design and development,
                      Shopify website design and development and cater <br />to
                      SMB and enterprise clients.
                    </p>
                  </div>
                </div> -->
                
                <div class="container" style="padding-bottom: 70px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="mry-main-title mry-title-center mry-p-0-40">
        <div class="mry-subtitle mry-mb-20 mry-fo">More projects</div>
        <h2 class="mry-fo">Similar projects</h2>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="mry-card-item">
        <div class="mry-card-cover-frame mry-mb-20 mry-fo">
          <!-- <div class="mry-badge">Bathroom</div> -->
          <img
            src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753430966/MASTER_BEDROOM_12G_HILTON_TOWER_2_okzaix.jpg"
            alt="project"
          />
          <div class="mry-cover-overlay"></div>
          <div class="mry-hover-links">
            <a
              href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753430966/MASTER_BEDROOM_12G_HILTON_TOWER_2_okzaix.jpg"
              data-fancybox="works-slider"
              class="mry-zoom mry-magnetic-link"
              ><span class="mry-magnetic-object"
                ><i class="fas fa-expand"></i></span
            ></a>
            <a
              href="/ourworkpages/hiltontower/"
              class="mry-more mry-magnetic-link mry-anima-link"
              ><span class="mry-magnetic-object"
                ><i class="fas fa-arrow-right"></i></span></a>
          </div>
        </div>
        <div class="mry-item-descr mry-fo">
          <h4 class="mry-mb-10">
            <a href="/ourworkpages/hiltontower/"
              >Jain House</a
            >
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="mry-card-item">
        <div class="mry-card-cover-frame mry-mb-20 mry-fo">
          <!-- <div class="mry-badge">Bedroom</div> -->
          <img
            src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753817985/STUDY_AREA_15A3_CAMBRIDGE_COURT_2.jpeg_myphru.jpg"
            alt="project"
          />
          <div class="mry-cover-overlay"></div>
          <div class="mry-hover-links">
            <a
              href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753817985/STUDY_AREA_15A3_CAMBRIDGE_COURT_2.jpeg_myphru.jpg"
              data-fancybox="works-slider"
              class="mry-zoom mry-magnetic-link"
              ><span class="mry-magnetic-object"
                ><i class="fas fa-expand"></i></span
            ></a>
            <a
              href="/ourworkpages/CarabianCoast/"
              class="mry-more mry-magnetic-link mry-anima-link"
              ><span class="mry-magnetic-object"
                ><i class="fas fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
        <div class="mry-item-descr mry-fo">
          <h4 class="mry-mb-10">
            <a href="/ourworkpages/CarabianCoast/"
              >Jane's House</a
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</MainLayout>

<style>

  .mry-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 !important; 
  }

  .mry-banner .container {
    position: relative; 
    z-index: 2;
  }

  .mry-head-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }

  .mry-head-bg img,
  .mry-head-bg .mry-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mry-head-bg img {
    opacity: 100%; 
  }
</style>