---
import MainLayout from "../../lib/layouts/main-layout.astro";
---

<MainLayout>
  <div class="mry-about mry-p-100-100" id="mry-anchor">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="mry-mb-100 mry-text-center">
            <div class="mry-numbering mry-fo">
              <div class="mry-border-text">01</div>
              <div class="mry-subtitle">Goal</div>
            </div>
            <h3 class="mry-mb-40 mry-fo">
              Jain House <br /><span class="mry-border-text">
                Effortless Elegance in Modern Minimalism</span
              >
            </h3>
            <p class="mry-text mry-fo">
              This thoughtfully designed home showcases clean lines, refined
              materials, and a calming neutral palette. Subtle metallic accents
              and sleek finishes create a cohesive space that balances
              sophistication with everyday functionality.
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mry-main-title mry-title-center mry-p-0-40">
            <div class="mry-numbering mry-fo">
              <div class="mry-border-text">02</div>
              <div class="mry-subtitle">Project</div>
            </div>
            <h2 class="mry-fo">Project gallery</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="mry-portfolio-frame">
            <div class="mry-masonry-grid mry-without-descr mry-p-0-100">
              <div class="mry-grid-sizer"></div>

              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 interior"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753433159/LIVINGROOM_12G_HILTON_TOWER_2_1_sa2umq.jpg"
                      alt="project"
                    />
                    <div class="mry-cover-overlay"></div>
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753433159/LIVINGROOM_12G_HILTON_TOWER_2_1_sa2umq.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-2 repair"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <div class="mry-cover-overlay"></div>
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432303/KITCHEN_12G_HILTON_TOWER_4_qbgnhv.jpg"
                      alt="project"
                    />
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432303/KITCHEN_12G_HILTON_TOWER_4_qbgnhv.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 interior repair"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432033/BEDROOM_3_12G_HILTON_TOWER_2_bzg0af.jpg"
                      alt="project"
                    />
                    <div class="mry-cover-overlay"></div>
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432033/BEDROOM_3_12G_HILTON_TOWER_2_bzg0af.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-1 repair"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <div class="mry-cover-overlay"></div>
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753433158/MASTER_BEDROOM_12G_HILTON_TOWER_2_2_iap5ph.jpg"
                      alt="project"
                    />
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753433158/MASTER_BEDROOM_12G_HILTON_TOWER_2_2_iap5ph.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-2 repair"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <div class="mry-cover-overlay"></div>
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432717/MASTER_BATHROOM_12G_HILTON_TOWER_3_ra3ohk.jpg"
                      alt="project"
                    />
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432717/MASTER_BATHROOM_12G_HILTON_TOWER_3_ra3ohk.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="mry-masonry-grid-item mry-masonry-grid-item-50 mry-masonry-grid-item-h-x-1 repair"
              >
                <div class="mry-card-item">
                  <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                    <div class="mry-cover-overlay"></div>
                    <img
                      src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432116/COMMON_BATHROOM_12G_HILTON_TOWER_1_baokjx.jpg"
                      alt="project"
                    />
                    <div class="mry-hover-links">
                      <a
                        href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753432116/COMMON_BATHROOM_12G_HILTON_TOWER_1_baokjx.jpg"
                        data-fancybox="works"
                        class="mry-zoom mry-magnetic-link"
                        ><span class="mry-magnetic-object"
                          ><i class="fas fa-expand"></i></span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="padding-bottom: 70px;">
          <div class="row">
            <div class="col-lg-12">
              <div class="mry-main-title mry-title-center mry-p-0-40">
                <div class="mry-subtitle mry-mb-20 mry-fo">More projects</div>
                <h2 class="mry-fo">Similar projects</h2>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="mry-card-item">
                <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                  <img
                    src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753431047/LIVING_ROOM_8G_CARIBBEAN_COAST_2.jpeg_dqbu76.jpg"
                    alt="project"
                  />
                  <div class="mry-cover-overlay"></div>
                  <div class="mry-hover-links">
                    <a
                      href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753431047/LIVING_ROOM_8G_CARIBBEAN_COAST_2.jpeg_dqbu76.jpg"
                      data-fancybox="works-slider"
                      class="mry-zoom mry-magnetic-link"
                      ><span class="mry-magnetic-object"
                        ><i class="fas fa-expand"></i></span
                      ></a
                    >
                    <a
                      href="/ourworkpages/carabiancoast"
                      class="mry-more mry-magnetic-link mry-anima-link"
                      ><span class="mry-magnetic-object"
                        ><i class="fas fa-arrow-right"></i></span
                      ></a
                    >
                  </div>
                </div>
                <div class="mry-item-descr mry-fo">
                  <h4 class="mry-mb-10">
                    <a href="/ourworkpages/carabiancoast">Jane's House</a>
                  </h4>
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="mry-card-item">
                <div class="mry-card-cover-frame mry-mb-20 mry-fo">
                  <img
                    src="https://res.cloudinary.com/daoju0r3c/image/upload/v1753817985/STUDY_AREA_15A3_CAMBRIDGE_COURT_2.jpeg_myphru.jpg"
                    alt="project"
                  />
                  <div class="mry-cover-overlay"></div>
                  <div class="mry-hover-links">
                    <a
                      href="https://res.cloudinary.com/daoju0r3c/image/upload/v1753817985/STUDY_AREA_15A3_CAMBRIDGE_COURT_2.jpeg_myphru.jpg"
                      data-fancybox="works-slider"
                      class="mry-zoom mry-magnetic-link"
                      ><span class="mry-magnetic-object"
                        ><i class="fas fa-expand"></i></span
                      ></a
                    >
                    <a
                      href="/ourworkpages/cambridge"
                      class="mry-more mry-magnetic-link mry-anima-link"
                      ><span class="mry-magnetic-object"
                        ><i class="fas fa-arrow-right"></i></span
                      ></a
                    >
                  </div>
                </div>
                <div class="mry-item-descr mry-fo">
                  <h4 class="mry-mb-10">
                    <a href="/ourworkpages/cambridge">KP's House</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Fragment slot="head">
    <style>
      .mry-banner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        overflow: hidden;
        padding: 0 !important;
      }

      .mry-banner .container {
        position: relative;
        z-index: 2;
      }

      .mry-head-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .mry-head-bg img,
      .mry-head-bg .mry-bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .mry-head-bg img {
        opacity: 100%;
      }
    </style>
  </Fragment>
</MainLayout>
